body {
    margin: 0;
    background-color: #9999ff;
    
}

#allContent{
    max-width:100%;
    margin:auto;
    background-image:linear-gradient(to bottom, rgb(57, 49, 61), rgba(255, 255, 255, 0))
}

.text {
    color: #dddddf;
}

.center {
    text-align: center;
}

.small {
    size:14px;
}

.medium {
    size:20px;
}

.large {
    size: 24px;
}

.veryLarge {
    size:30px;
}

.section {
    background-color: #7c7cd0;
    font: bold;
    width:99.5%;
    border-left-style:solid;
    border-left-color:#dddddf;
    border-right-style:solid;
    border-right-color:#dddddf;
    border-color:#dddddf;
    border-style:solid;
    border-width:0.5%;
    float: left;
    margin: 0;
    padding: 0;
    overflow:hidden;
}

.subsection {
    background-color: #7c7cd0;
    font: bold;
    width:calc(50% - 12px);
    height:520px;
    border-left-style:solid;
    border-left-color:#dddddf;
    border-right-style:solid;
    border-right-color:#dddddf;
    border-color:#dddddf;
    border-style:solid;
    border-width:6px;
    float: left;
}

.topbar {
    overflow:hidden;
    background-color: rgb(56, 55, 55);
    list-style-type: none;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.barItem {
    text-decoration: none;
    color:azure;
    float: left;
    display: block;
    padding: 16px 18px;
    text-align: center;
}

.barItem:hover{
    background-color: rgb(161, 160, 160);
    color: black;
}

#interests {
    margin-left: 10px;
}

.answer {
    list-style-type: none;
    margin: 0px 0px 0px 10px;
}

#mayAsWell {
    margin: 0px 0px 0px 12px;
}

.secTitle {
    margin: 10px 0px 0px 10px;
}

.FAQ {
    margin: 2px 0px 2px 10px;
}

.subNote {
    margin-bottom: 30px;
}

.title {
    margin:0;
}

/*misc*/

#peashooter {
    float: left;
    width: 300px;
    height: 300px;
}

#master {
    width:20%;
    height:630px;
}

#archive {
    width:79%;
    height:630px;
}

/*Portfolio-specific*/

.pfProjects {
    margin:10px;
    font-size: 44px;
    float: center;
    display: block;
    text-decoration: none;
    padding: 16px 18px;
    color:#dddddf;
}

.pfProjects:hover {
    background-color: #dbdbdb;
    color: rgb(34, 34, 34);
}

#portfolio {
    list-style-type: none;
}